body{
    background-color: brown;
    background-repeat: no-repeat;
    display: flex;
    min-height: 95vh;
    align-items: center;
    justify-content: center;
}
.love-you{
    background-color: blue;
    max-width: 40%;
    padding: 20px;
    border-radius: 2%;
}
.your-the-best{
    background-color: blue;
    border-radius: 2%;
}
.best-mom-ever{
    color: white;
}
.thank-you{
    color: white;
}
.you-are-my-hero{
    color: pink;
    background-color: white;
    border: none;
}
.i-will-always-love-you{
    color: pink;
    background-color: white;
    border: none;
}
.submit {
    background-color: white;
    color: pink;
    text-align: center;
    border-radius: 15px;
    padding: 5px;
    margin: 35px 7px 15px 0px;
}
.banana{
    text-align: center;
    padding-bottom: px
}
.submit {
    background-color: white;
    color: pink;
    text-align: center;
    border-radius: 15px;
    padding: 5px;
    margin: 35px 7px 15px 0px;
}
a{
    text-decoration: none;
    background-color: white;
}
